<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffeeshop</title>
    <link rel="stylesheet" href="all.css/member.css">
</head>
<body>
    <div class="memberALL">
        <div class="warp">
            <input type="checkbox" name="" id="item_control" class="item_control" />
        <div class="header">
            
            <div class="header-item">
                <div class="logo"><a :href="menu[0].link">{{logo}}</a></div>
                <label for="item_control" class="item_btn"></label>
                <ul class="menu">
                   <li v-for="item in menu">
                    <a :href="item.link">{{item.name}}</a>
                   </li>
                </ul>
            </div>
                <div class="social">
                    <a :href="socialLink.fb" ><img src="img/fb.png" alt="facebook"></a>
                    <a :href="socialLink.ig" ><img src="img/ig.png" alt="instagram"></a>
                    <a :href="socialLink.github" ><img src="img/github.png" alt="github"></a>
                </div>
            </div>
        
            <div class="content">
                <div class="log-reg">
                    <a href="#" class="log" @click.prevent="golog"  v-bind:style = "{ color: log.color}">{{log.title}}</a>
                    <a href="#" class="reg" @click.prevent="goreg"  v-bind:style = "{ color: reg.color}">{{reg.title}}</a>
                </div>
                <form :class="log.class" v-show="log.type" action="#">
                    <input type="text" placeholder="請輸入帳號" name="account"v-model='account'>
                    <h4 v-show='log.Noaccount'>請輸入帳號</h4>
                    <input type="text" placeholder="請輸入密碼" name="password"v-model='password'>
                    <h4 v-show='log.Nopassword'>請輸入密碼</h4>
                    <button type="submit"  class="submit" @click='logcheck'>會員帳號登入</button>
                </form>
                <form :class="reg.class"  v-show="reg.type">
                    <input type="text" placeholder="請輸入要註冊的帳號" name="Newaccount" v-model='Newaccount'>
                    <h4 v-show='reg.Noaccount'>請輸入註冊帳號</h4>
                    <input type="text" placeholder="請輸入要註冊的密碼" name="Newpassword" v-model='Newpassword'>
                    <h4 v-show='reg.Nopassword'>請輸入註冊密碼</h4>
                    <button type="submit"  class="submit" @click='regcheck'>確定</button>
                </form>
            </div>
        </div>
        
        <ul class="footer">
            <li class="social">
                <a :href="socialLink.fb" ><img src="img/fb.png" alt="facebook"></a>
                <a :href="socialLink.ig" ><img src="img/ig.png" alt="instagram"></a>
                <a :href="socialLink.github" ><img src="img/github.png" alt="github"></a>
            </li>
            <li>聯繫我：<a :href="'mailto:'+email"> {{email}} </a></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="all.js/member.js"></script>
    
</body>
</html>