html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    /* border: 1px rgb(255, 136, 0) solid; */
    border-bottom: 1px solid rgb(219, 219, 219);
    box-sizing: border-box;
}
.logo{
    padding: 20px 0px;
}
.logo a{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #000;
    /* border: 1px black solid; */
}
.header-item{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    margin-top: 20px;
    /* border: 1px black solid; */
}
.menu a{
    text-decoration: none;
    position: relative;
    display: block;
    color: #000;
    font-size: 18px;
    padding:10px 30px;
    /* border: 1px black solid; */
}
.menu a::before{
    position: absolute;
    background-color: black;
    content: "";
    left: 10px;
    bottom: 0;
    height: 2px;
    width: 0%;
    transition: 0.5s;
}
.menu a:hover::before{
    width: 80%;
}
.social img{
    width: 30px;
    margin: 0 10px;
    /* border: 1px black solid; */
}
.social a :hover{
    opacity: .7;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width:80%;
    background: url(../img/banner.jpg);
    background-size: cover;
    font-size: 90px;
    color: rgb(223, 107, 13);
    margin: 130px auto 50px auto;

}
.content{
    /* border: 1px black solid; */
    width: 1100px;
    margin: auto;
}
.content h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.item{
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
}
.pic{
    width: 50%;
    flex-shrink: 0;
}
.pic img{
    width: 100%;
    vertical-align: middle;
    opacity: .8;
}
.txt{
    width: 50%;
    padding: 80px  0px;
    text-align: center;
    z-index: 1;
    flex-shrink: 0;
}
.txt h2{
    font-size: 36px;
    margin-bottom: 50px;
}
.txt p{
    font-size: 24px;
}
.item > :first-child{
    margin-right: -60px;
}
.item:nth-child(2) .txt{
    background-color: rgba(18, 93, 231, 0.7);
}
.item:nth-child(3) .txt{
    background-color: rgba(0, 138, 23, 0.7);
}

.footer{
    width: 100%;
    text-align: center;
    background-color: rgb(173, 151, 122);
    padding: 50px;
    line-height: 2;
    box-sizing: border-box;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: rgb(77, 76, 76);
}

@media(max-width:1200px){
    .content{
        width: 800px;
        margin: auto;
    }
    .txt{
        padding: 40px  0px;
    }
    .txt h2{
        font-size: 24px;
    }
    .txt p{
        font-size: 20px;
    }

}

@media(max-width:992px){
    .logo a{
        font-size: 30px;
    }
    .banner{
        height: 300px; 
        font-size: 60px;
    }
    .menu a{
        font-size: 16px;
    }

    .content{
        width: 600px;
        margin: auto;
    }
    .txt{
        padding: 30px  0px;
    }
    .txt h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .txt p{
        font-size: 16px;
    }
}
@media(max-width:768px){
    #item_control {
        position: absolute;
        top: 0px;
        z-index: -1;
      }
      .item_btn {
        box-sizing: border-box;
        width: 40px;
        height: 25px;
        background-color: white;
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        border-top: 5px solid gray;
        border-bottom: 5px solid gray;
      }
      .item_btn::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 25px;
        left: 0px;
        background-color: gray;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      #item_control:checked ~ .header .menu {
          display: block;
        /* margin-top: 20px; */
      }
    
    .header{
        display: flex;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: space-around;
        z-index: 999;
        /* border: 1px rgb(255, 136, 0) solid; */
        border-bottom: 1px solid rgb(219, 219, 219);
        box-sizing: border-box;
    }
    .header-item{
        display: block;
        align-items: center;
        margin: 0 auto;
        /* border: 1px black solid; */
    }
    .menu{
        display: none;
        flex-direction: column;
        /* margin-top: -100px; */
        transition: .5s;
        /* margin-top: 20px; */
        /* border: 1px black solid; */
    }
   
    .social{
        margin-right: 20px;
    }
    .logo a{
        font-size: 50px;
    }
    .social img{
        width: 25px;
    }
    .banner{
        height: 200px; 
        font-size: 30px;
    }
    .menu a{
        font-size: 24px;
        padding:10px 10px;
    }
    .content{
        width: 550px;
        margin: auto;
    }
    .txt{
        width: 60%;
        padding: 5px  0px;
    }
    .txt h2{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .txt p{
        font-size: 16px;
    }

}

@media(max-width:576px){
    .header{
        display: flex;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: space-around;
        z-index: 999;
        border-bottom: 1px solid rgb(219, 219, 219);
        box-sizing: border-box;
   
    }
    .logo a{
        font-size: 30px;
    }
    .social img{
        display: block;
        width: 20px;
        margin: 5px 0px;

    }
    .banner{
        height: 200px; 
        font-size: 40px;
    }
    
    .menu a{
        font-size: 14px;
        padding:10px 5px;
    }
    .content{
        width: 350px;
        margin: auto;
        box-sizing: border-box;
    }
    .txt{
        padding: 30px  0px;
    }
    .txt h2{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .txt p{
        font-size: 12px;
    }
    .footer {
       width: 100%;
    }
   
    .footer .social{
        display: flex;
        justify-content: center;
    }
    .footer .social a{
        margin: 10px;
    }

}