html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.header{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    /* border: 1px rgb(255, 136, 0) solid; */
    border-bottom: 1px solid rgb(219, 219, 219);
    box-sizing: border-box;
}
.logo{
    padding: 20px 0px;
}
.logo a{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #000;
    /* border: 1px black solid; */
}
.header-item{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    margin-top: 20px;
    /* border: 1px black solid; */
}
.menu a{
    text-decoration: none;
    position: relative;
    display: block;
    color: #000;
    font-size: 18px;
    padding:10px 30px;
    /* border: 1px black solid; */
}
.menu a::before{
    position: absolute;
    background-color: black;
    content: "";
    left: 10px;
    bottom: 0;
    height: 2px;
    width: 0%;
    transition: 0.5s;
}
.menu a:hover::before{
    width: 80%;
}
.social img{
    width: 30px;
    margin: 0 10px;
    /* border: 1px black solid; */
}
.social a :hover{
    opacity: .7;
}

.content{
    width: 60%;
    margin: 200px auto 100px auto;
}
.content h2{
    font-size: 34px;
    text-align: center;
    margin-top: 30px;
}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 1px black solid;
    margin: 20px 0;
}
.itemtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 26px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}
.itemContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
    margin-bottom: 10px;
}
.itemContent p{
    width: 30%;
    font-size: 26px;
    text-align: center;
}
.itemContent a{
    text-decoration: none;
}
.itemContent a:hover{
    color: green;
}
.itemFooter{
    width: 75%;
    text-align: right;
    font-size: 28px;
    margin: 50px auto 0px auto;
}

.connection{
    margin: 30px 0;
}
.connection label{
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
    color: rgb(0, 56, 139);
}
.connection input{
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
}
.gobuy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 30px auto;
    height: 70px;
    font-size: 22px;
    color: white;
    background-color: gray;
    border-radius: 5px;
}
.gobuy:hover{
    background-color: rgb(153, 153, 153);
    color: rgb(23, 7, 255);
}




.footer{
    width: 100%;
    text-align: center;
    background-color: rgb(173, 151, 122);
    padding: 50px;
    line-height: 2;
    box-sizing: border-box;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: rgb(77, 76, 76);
}
@media(max-width:992px){
    .logo a{
        font-size: 30px;
    }
    .menu a{
        font-size: 16px;
    }
}
@media(max-width:768px){
    .logo a{
        font-size: 50px;
    }
    .social img{
        width: 25px;
    }
    .menu a{
        font-size: 16px;
        padding:10px 10px;
    }
}

@media(max-width:576px){
    .header{
        display: flex;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: space-around;
        z-index: 999;
        border-bottom: 1px solid rgb(219, 219, 219);
        box-sizing: border-box;
   
    }
    .logo a{
        font-size: 30px;
    }
    .social img{
        display: block;
        width: 20px;
        margin: 5px 0px;

    }
    .menu a{
        font-size: 14px;
        padding:10px 5px;
    }
    .footer {
       width: 100%;
    }
   
    .footer .social{
        display: flex;
        justify-content: center;
    }
    .footer .social a{
        margin: 10px;
    }
}